In [76]:
import pandas as pd
import numpy as np
import seaborn as sns

In [126]:
df = pd.read_csv("Code/spam_dataset.csv" ,sep="\t")

In [127]:
df

     Label                                              Email
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham               Will ü b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [128]:
from sklearn.pipeline import Pipeline

In [129]:
from sklearn.naive_bayes import GaussianNB , MultinomialNB

In [130]:
steps = list()
steps.append(("Victorizer" , TfidfVectorizer(stop_words="english")))
steps.append(("Dense" , FunctionTransformer(lambda x: x.toarray(), accept_sparse=True )))
steps.append(("Model", MultinomialNB()))

In [131]:
pipeline = Pipeline(steps=steps)

In [132]:
x  = df["Email"]
y = df["Label"]

In [133]:
from sklearn.model_selection import cross_validate

In [134]:
scores = cross_validate(pipeline , x ,y , cv = 5 , scoring="accuracy" , return_train_score=True)

In [135]:
scores["train_score"].mean()

0.9826363537810531

In [136]:
scores["test_score"].mean()

0.96859183164132